/* Global
================================ */
body {
  font-family: 'Droid Serif', serif;
  font-family: 'Oswald', sans-serif;
  line-height: 1.6;
  color: #222;
}
h1, h2, h3, h4, h5 {
  font-family: 'Petrona', serif;
  color:#053250;
}

h1 {
  color: #fff;
  font-size:2rem;
  line-height: 1.5em;
  letter-spacing: -0.025em;
  font-weight: 300;
  text-align: center;
  font-size: 1.5625rem;
}
p {
  font-size:   0.875rem;
  margin-bottom: 1em;
}

div {
  border: solid;
}

h5, h4 {
  text-transform: uppercase;
}
h5 {
  margin-bottom: 0;
}

.tabs-title {
  display: inline-block;
  float: none;
}

.hero {
  background-image: url(../img/mangofondo.png);
  background-size: cover;
  height: 70vh;
}

.intro {
  padding: 3rem;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.hero p {
  color: #fff;
  line-height: 1.75em;
  font-size: 1.25rem;
  font-weight: 200;
  text-align: center;
  margin-bottom: 2rem;
}
.my-img {
  height: 9rem;
  width: 9rem;
  border-radius: 40%;
  display: block;
  margin: 0 auto;
}
.radius {
  border-radius: 10px;
}
.sub-h2 {
  color: #777;
  font-size: 1.25rem;
  margin-bottom: 50px;
}


/* ========= Top Bar =============== */
.top-bar ,.top-bar li ,.top-bar button, .off-canvas {
  background: #2c3840; }

  .top-bar li, .top-bar a, .top-bar ul , .off-canvas li ,.off-canvas a, .off-canvas ul {
    color: #fff;
  }
  /* ========= End Top Bar =============== */


  /* ========= Side Bar =============== */
.pictureUser {
  border-radius: 50%;
}

.box-icon {
  background-color: #569;
  padding-top: 20px;
  padding-bottom: 20px;
}

.box-icon img {
  border-radius: 50%;
  display: table;
  height: 100px;
  margin:  0 auto;
  width: 100px;}

  /* ========= End Side Bar =============== */



    /* Card
    ================================ */
    .card {
      border: none;
      text-align: center;
      padding-left: 10%;
      padding-right: 10%;
    }


    /* Tab
    ================================= */
    .tabs, .tabs-content {
      border: 0px;
    }

    .dotted {
      border-style: dotted solid;
      margin-top: 20px;
      margin-bottom:20px;
    }
    .noline {
      border-style: none;
      margin-top: 10px;
      margin-bottom: 10px;
    }


    .section-fruitsX img  {
      max-width: 65%;
    }

    .productFruit p {
      text-align: justify;
    }


    /* Media Queries
    ================================= */
    /* and max-width 1440px, large screen-only  */
    @media (max-width: 90em) {
      .productFruit, .mydata-accordion {
        max-width: 90%;
      }
      h2, h1 {
        font-size: 2.1875rem;
      }
      .newsText img{
        max-width: 65%;
    }
  }
    /*max-width 1024px medium*/
    @media (max-width: 64em) {


      .productFruit, .mydata-accordion  {
        max-width: 90%;
      }
      .section-fruitsX img , .newsText img{
        max-width: 70%;
      }

    }
    /* max-width 640px*/
    /*@media (max-width: 40em) {*/

    @media (min-width: 40em) {
      .dotted {
        margin-top: 40px;
      }
      .noline {
        margin-top: 80px;
      }
    }


    @media only screen and (min-width: 40em) {
      .my-img {
        height: 20rem;
        width: 20rem;
      }
      h1 {
        padding-top: 4.5rem;
        text-align: right;
        font-size: 2.5rem;
      }
      .hero p {
        text-align: right;
      }
    }
