/* Global
================================ */
body {
  font-family: 'Varela Round', sans-serif;
  line-height: 1.6;
  color: #3a3a3a;
}
p {
  font-size: 0.90em;
  margin-bottom: 1.8em;
}
.radius {
  border-radius: 10px;
}

h5, h4 {
  text-transform: uppercase;
}
h5 {
  margin-bottom: 0;
}
.row {
  padding-top: 40px;
}


.tabs-title {
  display: inline-block;
  float: none;
}

/* Side Bar
================================ */
.pictureUser {
  border-radius: 50%;
}

.box-icon {
  background-color: #569;
  padding-top: 20px;
  padding-bottom: 20px;
}

.box-icon img {
  border-radius: 50%;
  display: table;
  height: 100px;
  margin:  0 auto;
  width: 100px;}

  /* Top Bar
  ================================ */
  .top-bar ,.top-bar li ,.top-bar button, .off-canvas {
    background: #2c3840; }

    .top-bar li, .top-bar a, .top-bar ul , .off-canvas li ,.off-canvas a, .off-canvas ul {
      color: #fff;
    }
    /* Card
    ================================ */
    .card {
      border: none;
      text-align: center;
    }

    /* Type
    ================================ */
    .newsText p{
      text-align: justify;
    }
  

    /* Buttons
    ================================= */

    /* Media Queries
    ================================= */
    /* and max-width 1440px, large screen-only  */
    @media (max-width: 90em) {
      .productFruit, .textLema {
        max-width: 90%;
      }

    }
    /*max-width 1024px medium*/
    @media (max-width: 64em) {
      img {
        max-width: 80%;
      }
      .toolsFruit p, .toolsFruit h5 {
        font-size: 0.70em;
      }
      .productFruit img {
        max-width: 60%;
      }
      .productFruit, .textLema  {
        max-width: 90%;
      }

    }
    /* max-width 640px*/
    @media (max-width: 40em) {
      img {
        max-width: 60%;
      }
      .toolsFruit p, .toolsFruit h5 {
        font-size: 0.90em;
      }

      .productFruit  {
        max-width: 100%;
      }
    }
